Repository blinkbitcoin/blink, pull requests merged in 2025-05, with the labels that each got.

#71 ci: correct references to the blink repo
  .github/workflows/mobile-schema-compatibility.yml
  ci/apps/tasks/bump-image-digest.sh
  ci/core/tasks/bump-image-digest.sh
  ci/core/tasks/open-core-bundle-charts-pr.sh
  core/api/src/migrations/20231030191242-fix-earn-typo.ts
  quickstart/quickstart.vendir.yml
  quickstart/vendir.yml
  quickstart/vendir/template.yml
Labels: ci, core

#84 ci: make blinkbitcoinbot open PRs and apply label
  ci/apps/tasks/bump-image-digest.sh
  ci/apps/tasks/open-charts-pr.sh
  ci/core/tasks/bump-core-bundle-images.sh
  ci/core/tasks/bump-image-digest.sh
  ci/core/tasks/open-bump-proto-pr.sh
  ci/core/tasks/open-charts-pr.sh
  ci/core/tasks/open-core-bundle-charts-pr.sh
  ci/core/tasks/sync-proto.sh
  ci/vendor/tasks/chart-open-charts-pr.sh
  ci/vendor/tasks/docker-bump-image-digest.sh
  ci/vendor/tasks/helpers.sh
Labels: ci

#93 feat: add update email to admin api
  apps/admin-panel/generated.ts
  bats/admin-gql/account-details-by-account-id.gql
  bats/admin-gql/account-details-by-user-id.gql
  bats/admin-gql/user-update-email.gql
  bats/core/api/admin.bats
  core/api/src/app/admin/index.ts
  core/api/src/app/admin/update-user-email.ts
  core/api/src/domain/authentication/index.types.d.ts
  core/api/src/graphql/admin/mutations.ts
  core/api/src/graphql/admin/root/mutation/user-update-email.ts
  core/api/src/graphql/admin/schema.graphql
  core/api/src/services/kratos/auth-email-no-password.ts
  core/api/src/services/kratos/auth-phone-no-password.ts
Labels: admin-panel, core

#94 fix(admin): show account details for invited account
  apps/admin-panel/components/account/update.tsx
  apps/admin-panel/generated.ts
  core/api/src/graphql/admin/schema.graphql
  core/api/src/graphql/admin/types/scalar/account-status.ts
Labels: admin-panel, core
