Repository blinkbitcoin/blink, pull requests merged in 2025-07, with the labels that each got.

#111 chore(core): bump deps
  apps/admin-panel/instrumentation.node.ts
  apps/admin-panel/package.json
  apps/consent/instrumentation.node.ts
  apps/consent/package.json
  apps/dashboard/instrumentation.node.ts
  apps/dashboard/package.json
  apps/dashboard/theme/emotion-cache.tsx
  apps/dashboard/tsconfig.json
  apps/map/instrumentation.node.ts
  apps/map/package.json
  apps/pay/instrumentation.node.ts
  apps/pay/package.json
  apps/voucher/instrumentation.node.ts
  apps/voucher/package.json
  core/api/package.json
  core/api/src/services/cache/redis-cache.ts
  core/api/src/services/twilio-service.ts
  pnpm-lock.yaml
Labels: dashboard, consent, pay, admin-panel, map, voucher, core

#110 fix(core): add appcheck token validation
  core/api/package.json
  core/api/src/app/authentication/login.ts
  core/api/src/app/authentication/request-code.ts
  core/api/src/app/errors.ts
  core/api/src/domain/app-check/errors.ts
  core/api/src/domain/app-check/index.ts
  core/api/src/domain/app-check/index.types.d.ts
  core/api/src/graphql/error-map.ts
  core/api/src/services/app-check/index.ts
  pnpm-lock.yaml
Labels: dashboard, consent, pay, admin-panel, map, voucher, core

#118 fix(pay): remove lnurl callback port for default protocol ports
  apps/pay/app/lnurlp/[username]/route.ts
Labels: pay

#117 refactor(core): soft delete merchants
  core/api/src/app/merchants/delete-merchant-map.ts
  core/api/src/app/merchants/remove-inactive-merchants.ts
  core/api/src/domain/merchants/index.types.d.ts
  core/api/src/graphql/admin/root/mutation/merchant-map-delete.ts
  core/api/src/services/mongoose/merchants.ts
  core/api/src/services/mongoose/schema.ts
  core/api/src/services/mongoose/schema.types.d.ts
Labels: core

#126 chore(core): bump deps
  core/api/package.json
  pnpm-lock.yaml
Labels: dashboard, consent, pay, admin-panel, map, voucher, core

#120 feat(core): add withdrawal wallet
  bats/core/api/onchain-receive.bats
  bats/core/api/onchain-send.bats
  core/api/galoy.yaml
  core/api/src/app/on-chain/index.ts
  core/api/src/app/on-chain/rebalance-to-cold-wallet.ts
  core/api/src/app/on-chain/rebalance-to-withdrawal-wallet.ts
  core/api/src/app/on-chain/record-internal-on-chain-transfer-fee.ts
  core/api/src/config/schema.ts
  core/api/src/config/schema.types.d.ts
  core/api/src/config/yaml.ts
  core/api/src/domain/bitcoin/onchain/index.types.d.ts
  core/api/src/domain/bitcoin/onchain/rebalance-checker.ts
  core/api/src/domain/ledger/index.types.d.ts
  core/api/src/servers/event-handlers/bria.ts
  core/api/src/services/bria/index.ts
  core/api/src/services/bria/index.types.d.ts
  core/api/src/services/ledger/admin.ts
  core/api/test/unit/domain/bitcoin/onchain/rebalance-checker.spec.ts
Labels: core

#129 fix(core): handle unknown character decode error
  core/api/src/domain/bitcoin/lightning/errors.ts
  core/api/src/domain/bitcoin/lightning/ln-invoice.ts
  core/api/src/graphql/error-map.ts
  core/api/test/unit/domain/bitcoin/lightning/ln-invoice.spec.ts
Labels: core

#131 feat: earn section skip rewards
  apps/consent/app/graphql/generated.ts
  apps/dashboard/services/graphql/generated.ts
  apps/map/services/galoy/graphql/generated.ts
  apps/pay/lib/graphql/generated.ts
  bats/core/api/quiz.bats
  core/api/src/app/quiz/claim.ts
  core/api/src/graphql/public/root/mutation/quiz-claim.ts
  core/api/src/graphql/public/schema.graphql
  core/api/test/integration/app/quizzes/claim-quiz.spec.ts
  dev/config/apollo-federation/supergraph.graphql
Labels: dashboard, consent, pay, map, core

#132 chore(core): bump deps
  core/api/package.json
  pnpm-lock.yaml
Labels: dashboard, consent, pay, admin-panel, map, voucher, core

#138 chore: bump deps
  apps/consent/package.json
  core/api/package.json
  lib/gt3-server-node-express-sdk/package.json
  package.json
  pnpm-lock.yaml
Labels: dashboard, consent, pay, admin-panel, map, voucher, core

#140 ci: update bria and stablesats repos ref
  ci/core/values.yml
Labels: ci

#141 ci: fix gh default repo in proto sync
  ci/core/tasks/open-bump-proto-pr.sh
Labels: ci

#142 chore(deps): bump bria proto
  core/api/src/services/bria/proto/bria.proto
  core/api/src/services/bria/proto/bria_grpc_pb.d.ts
  core/api/src/services/bria/proto/bria_grpc_pb.js
  core/api/src/services/bria/proto/bria_pb.d.ts
  core/api/src/services/bria/proto/bria_pb.js
Labels: core, blinkbitcoinbot

#149 chore: update gh action to remove auto approve
  .github/workflows/update-disposable-phone-numbers.yml
Labels: ci

#151 fix(core): update proxy check logic
  core/api/src/domain/accounts-ips/ip-metadata-authorizer.ts
  core/api/src/services/ipfetcher/index.ts
  core/api/src/services/mongoose/schema.types.d.ts
  core/api/test/unit/domain/users-ips/ip-metadata-authorizer.spec.ts
Labels: core

#152 fix(core): update proxy check risk validation
  core/api/src/domain/accounts-ips/ip-metadata-authorizer.ts
  core/api/test/unit/domain/users-ips/ip-metadata-authorizer.spec.ts
Labels: core

#160 fix: adjust pattern matching for v2
  core/api/src/services/twilio-service.ts
Labels: core

#85 feat: save ln address as contact
  apps/consent/app/graphql/generated.ts
  apps/consent/codegen.yml
  apps/dashboard/codegen.yml
  apps/dashboard/services/graphql/generated.ts
  apps/map/codegen.yml
  apps/map/services/galoy/graphql/generated.ts
  apps/pay/codegen.yml
  apps/pay/lib/graphql/generated.ts
  bats/core/api/contact.bats
  bats/gql/contact-create.gql
  bats/gql/contacts.gql
  bats/helpers/user.bash
  core/api/src/app/accounts/add-new-contact.ts
  core/api/src/app/accounts/create-contact.ts
  core/api/src/app/accounts/get-contact-by-username.ts
  core/api/src/app/accounts/get-contacts.ts
  core/api/src/app/accounts/index.ts
  core/api/src/app/accounts/update-contact-alias.ts
  core/api/src/app/errors.ts
  core/api/src/app/payments/send-intraledger.ts
  core/api/src/app/payments/send-lightning.ts
  core/api/src/domain/accounts/errors.ts
  core/api/src/domain/accounts/index.ts
  core/api/src/domain/accounts/index.types.d.ts
  core/api/src/domain/contacts/errors.ts
  core/api/src/domain/contacts/index.ts
  core/api/src/domain/contacts/index.types.d.ts
  core/api/src/domain/contacts/primitives.ts
  core/api/src/domain/primitives/index.types.d.ts
  core/api/src/graphql/error-map.ts
  core/api/src/graphql/public/mutations.ts
  core/api/src/graphql/public/root/mutation/contact-create.ts
  core/api/src/graphql/public/root/mutation/user-contact-update-alias.ts
  core/api/src/graphql/public/schema.graphql
  core/api/src/graphql/public/types/object/account-contact.ts
  core/api/src/graphql/public/types/object/contact.ts
  core/api/src/graphql/public/types/object/user.ts
  core/api/src/graphql/public/types/payload/contact.ts
  core/api/src/graphql/public/types/scalar/contact-alias.ts
  core/api/src/graphql/public/types/scalar/contact-display-name.ts
  core/api/src/graphql/shared/types/scalar/contact-handle.ts
  core/api/src/graphql/shared/types/scalar/contact-id.ts
  core/api/src/graphql/shared/types/scalar/contact-type.ts
  core/api/src/migrations/20250507231004-migrate-contacts-to-collection.ts
  core/api/src/services/mongoose/accounts.ts
  core/api/src/services/mongoose/contacts.ts
  core/api/src/services/mongoose/index.ts
  core/api/src/services/mongoose/schema.ts
  core/api/src/services/mongoose/schema.types.d.ts
  core/api/test/unit/domain/authorization/index.spec.ts
  core/api/test/unit/domain/contacts/index.spec.ts
  core/api/test/unit/domain/wallets/payment-input-validator.spec.ts
  dev/config/apollo-federation/supergraph.graphql
Labels: dashboard, consent, pay, map, core
